.about-page {
    padding: 80px 10%;
    font-family: 'Poppins', sans-serif;
    color: #2f2266;

  }
  
  .about-container {
    max-width: 1200px;
    margin: auto;
  }
  
  .about-container h2 {
    font-size: 36px;
    text-align: center;
   

    margin-bottom: 30px;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* justify-content: space-between; */
  }
  
  .about-section {
    flex: 1;
    min-width: 280px;
    background-color: #f3ecfc;
    padding: 30px;
    border-radius: 20px;

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  }
  
  .about-section h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #3a2c69;
  }
  
  .about-section p {
    font-size: 16px;
    line-height: 1.7;
    color: #493b75;
  }

  .about-section img {
    width:100%;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
    
  }
  .about-section h4{
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;

    margin-top: 15%;
    color: #6dc2c0;
  }
  .imgCard{
    justify-content: center;
  }
  