.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .signup-container {
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;

  }
  
  .signup-container h2 {
    color: #3a2c69;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .signup-container p {
    
    color: #6e5d9b;
    margin-bottom: 25px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signup-form label {
    text-align: left;
    color: #493b75;
    font-weight: 500;
    font-size: 14px;
  }
  
  .signup-form input {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #cac2ff;
    font-size: 16px;
    background-color: #f8f5ff;
  }
  
  .signup-btn-enter {
    margin-top: 10px;
    background-color: #f797af;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 19px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signup-btn:hover {
    background-color: #ec6d96;
  }
  
  
  
  
  